In [2]:
import pandas as pd
import numpy as np
import nltk

from nltk import word_tokenize

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\manma\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
df = pd.read_csv('./assets/bbc_text_cls.csv')

In [5]:
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [7]:
# populate word2idx
# convert documents into sequences of ints / ids / indices
idx = 0
word2idx = {}
tokenized_docs = []
for doc in df['text']:
    words = word_tokenize(doc.lower())
    doc_as_int = []
    for word in words:
        if word not in word2idx:
            word2idx[word] = idx
            idx += 1
        doc_as_int.append(word2idx[word])
    tokenized_docs.append(doc_as_int)

In [9]:
# reverse mapping
idx2word = {v : k for k, v in word2idx.items()}

In [19]:
N = len(df['text'])
V = len(word2idx)

In [20]:
tf = np.zeros((N,V))

In [21]:
# instantiate term frequencies
for i, doc_as_int in enumerate(tokenized_docs):
    for j in doc_as_int:
        tf[i, j] += 1

In [22]:
# compute idf
document_freq = np.sum(tf > 0, axis = 0) # shape = (V, )
idf = np.log(N / document_freq)

In [23]:
# compute tf_idf
tf_idf = tf * idf

In [24]:
tf.shape, idf.shape, tf_idf.shape

((2225, 34613), (34613,), (2225, 34613))

In [25]:
np.random.seed(123)

In [26]:
# pick a random document, show top 5 terms using tf-idf
i = np.random.choice(N)
row = df.iloc[i]
print("Label: ", row['labels'])
print("Text: ", row['text'].split("\n", 1)[0])
print("Top 5 terms:")

scores = tf_idf[i]
indices = (-scores).argsort()
for j in indices[:5]:
    print(idx2word[j])

Label:  sport
Text:  Athens memories soar above lows
Top 5 terms:
paula
athens
1500m
her
kelly